<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.toast.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        .modal-header,
        h4,
        .close {
            background-color: #5cb85c;
            color: white;
            text-align: center;
            font-size: 2em;
        }

        .modal-footer {
            background-color: #f9f9f9;
        }

        #titleTextBox{
            text-decoration: none;
            outline: none;
            border: none;
            background-color: #f2f2f2;
        }
        #todoList .inputTask{
            background-color: #f2f2f2;
            padding:20px;
        }
        .list-group-item{
            padding:20px;
        }

        .list-group-item:hover{

            opacity:.6;
        }

        .list-group .done{
            opacity:.5;
            text-decoration-line: line-through;
            background-color: #f9f9f9;
        }

        .list-group .done::before{
            
        }

    
        


    </style>
</head>

<body>

    <div class="container">

        <!-- // mark: news list ui -->
        <div class="row">
            <div class="col-sm-4" id="todoList">
                <h2>Tasks <small v-if="incomplete">({{ incomplete }})</small></h2>
                <div class="list-group-item inputTask">
                    <input type="text" v-model="title" id="titleTextBox" placeholder="Add to the todo list">
                    <span class="pull-right">
                        <button id="okItem" v-on:click="okItemClick()" class="btn btn-success btn-sm "><span
                                class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    </span>

                </div>


                <ul id="listItem" class="list-group">
                    <li class="list-group-item" v-for="(item, index) in todoList" v-bind:class="item.done ? 'done' : '' ">
                        {{ item.title }}
                        <span class="pull-right">
                            <button class="btn btn-info btn-xs editItem" v-on:click="completedClick(index)">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>&nbsp;
                            <button class="btn btn-danger btn-xs deleteItem" v-on:click="deleteItemClick(index)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </span>
                    </li>
                </ul>
            </div>

        </div> <!-- end of row -->

    </div> <!-- end of container -->




    <!-- ========== UI 與 JavaScript 分隔線 ========== -->


    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.toast.js"></script>

    <script>
        // mark: news list code
        var todoApp = new Vue({
            el: "#todoList",
            data: {
                testData: 100,
                todoIndex: 0,
                todoList:
                    [
                        { title: "Item 1", done: true },
                        { title: "Item 2", done: false },
                        { title: "Item 3", done: false },
                        { title: "Item 4", done: false }
                    ]

            },
            methods: {
                okItemClick: function () {
                    // new
                    var str = this.title.length;
                    var objNew = {
                        title: this.title,
                        done: false
                    }
                    if (str > 0) {
                        todoApp.todoList.push(objNew);
                    } else {
                        return;
                    }

                },
                deleteItemClick: function (e) {
                    this.todoList.splice(e, 1);
                },
                completedClick: function (e) {
                       this.todoList[e].done = !this.todoList[e].done;  
                },
                iscompleted(e){
                    return todoList.done;
                },
                inProgress(e) {
                    return !this.iscompleted(e);
                }
                
            },
            computed: {
                incomplete() {
                  return this.todoList.filter(this.inProgress).length;
                }
            }
        })





        // mark: dailog code
        // var newsModalApp = new Vue({
        //     el: "#newsModal",
        //     data: {
        //         title: "testTitle",
        //         ymd: "testYMD",
        //         newsIndex: 0
        //     },
        //     methods: {
        //         okButtonClick: function () {
        //             if (this.newsIndex < 0) { // new
        //                 var objNew = {
        //                     title: this.title,
        //                     ymd: this.ymd
        //                 }
        //                 newsApp.newsList.push(objNew);
        //             }
        //             else {
        //                 newsApp.newsList[this.newsIndex].title = this.title;
        //                 newsApp.newsList[this.newsIndex].ymd = this.ymd;
        //             }

        //             $("#newsModal").modal("hide");
        //         }
        //     }
        // });



        // 使用方式:
        // showToast("標題", "提示文字") 例如:
        // showToast("Hint", "請點一下正確的圖案");
        function showToast(heading, message) {
            $.toast({
                text: message, // Text that is to be shown in the toast
                heading: heading, // Optional heading to be shown on the toast
                icon: 'warning', // Type of toast icon
                showHideTransition: 'fade', // fade, slide or plain
                allowToastClose: true, // Boolean value true or false
                hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                textAlign: 'left',  // Text alignment i.e. left, right or center
                loader: true,  // Whether to show loader or not. True by default
                loaderBg: '#9ec600',  // Background color of the toast loader
                beforeShow: function () { }, // will be triggered before the toast is shown
                afterShown: function () { }, // will be triggered after the toat has been shown
                beforeHide: function () { }, // will be triggered before the toast gets hidden
                afterHidden: function () { }  // will be triggered after the toast has been hidden
            });
        }


    </script>

</body>

</html>